button {
    background-color: aqua;
    margin-top: 5px;
    padding: 20px;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    border: 0.02px solid black;    
    width:100px;
    height:70px; 
    
  }
  #display{
      width: 300px;
  }
  input {
    border-radius: 20px;
    text-align: center;
    border: none;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
  }
  